<body class='flex items-center justify-center'>
	<h1 class='font-cherry text-stroke text-6xl text-grass mt-36 mb-12 text-center'>welcome to pixelpet!
	</h1>
	<div>
		<div class='flex flex-col items-center'>
			<a href='/login'
				class='bg-grass text-white px-6 py-3 mb-4 rounded-full hover:bg-grass-hover transition duration-300'>login</a>
			<a href='/register'
				class='bg-grass text-white px-6 py-3 rounded-full hover:bg-grass-hover transition duration-300'>register</a>
		</div>
	</div>
</body>