<body class='flex items-center justify-center'>
	<h1
		class='font-cherry text-stroke text-5xl text-grass mt-8 mb-12 text-center'
	>
		about pixelpet :3
	</h1>
	<div class='bg-white p-6 rounded-lg shadow-md w-full max-w-lg mx-auto'>
		<p class='text-md mb-4'>
			pixelpet is a small, tamagotchi-inspired web app that i made for my fall
			2023 applied internet technology final.
		</p>

		<p class='text-md mb-4'>
			the goal of this project was to become more well-versed in the
			technologies we learned in class. pixelpet was built using express for the
			backend, handlebars for templating, and tailwind css for styling.
		</p>

		<p class='text-md mb-4'>
			all pixel art was drawn by me, with the exception of the pet's room, which
			i designed using MysteryPuppy's
			<a
				class='text-grass-hover underline'
				href='https://lovebirdsnest.itch.io/cute-pixel-room-builder'
			>
				cute pixel room generator</a>. i used procreate on my ipad to draw the
			background, pets, and egg sprites !! and man, was it difficult... figuring
			out how to use procreate and make pixel art might have been the most
			difficult part of the project TT_TT.
		</p>

		<p class='text-md'>
			i had a lot of fun making this, and i hope you can enjoy it too!! thank u
			for stopping by!! ( = ⩊ = )
		</p>
		<div class='mt-8 mb-2 text-center'>
			<a
				href='/'
				class='bg-grass text-white px-4 py-3 rounded hover:bg-grass-hover focus:outline-none focus:shadow-outline-blue'
			>☆ go back home ☆</a>
		</div>
		<div class='text-center mt-3'>
			<a href='/all' class='text-sm text-gray-500 hover:text-gray-700'>
				or, see a list of all the pixelpets!
			</a>
		</div>

	</div>
</body>