<body class="bg-pink-100 h-screen flex items-center justify-center">

  <div class="text-center">
    <h1 class="text-4xl font-extrabold text-pink-600 mb-6">Welcome to pixelpet!</h1>
    <div class>
      <a href="/login"
        class="bg-pink-500 text-white px-4 py-2 rounded-full hover:bg-pink-600 transition duration-300">Login</a>
      <span class="mx-2 text-pink-600">New Here?</span>
      <a href="/register"
        class="bg-purple-500 text-white px-4 py-2 rounded-full hover:bg-purple-600 transition duration-300">Register</a>
    </div>
  </div>

</body>