<head>
	<meta charset='UTF-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<title>pixelpet (⌒▽⌒)☆</title>

	<link rel='preconnect' href='https://fonts.googleapis.com' />
	<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
	
	<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Cherry+Bomb&display=swap' />
	<link href='https://fonts.googleapis.com/css2?family=Nunito:wght@300;1000&display=swap' rel='stylesheet' />
	<link href='https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap' rel='stylesheet' />
	<link href='https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap' rel='stylesheet' />

	<link href='/dist/output.css' rel='stylesheet' />
	<script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>

</head>

<body class='bg-cover bg-fixed' style="background-image: url('images/bg.jpg')">
	<main class='container mx-auto mt-6 p-4'>
		{{{body}}}
	</main>
</body>